/* Basic css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body {
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.gradient-buttons {
  max-width: 300px;
  margin-top: 35px;
}

.gradient-btn {
  padding: 11px 25px;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  min-width: 125px;
  border: 2px solid #EB317D;
}
.gradient-btn:hover {
  background: linear-gradient(to right, #EB317D, #09A4DF);
  border-color: transparent;
}
/* Main styles */
.wrap {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eb2c7e;
  position: relative;
  padding: 100px 0px;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.form-box {
  background-color: #121212;
  border-radius: 10px;
}

.black-box {
  padding: 30px;
}

.black-box .form-wrap {
  padding: 50px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.black-box .form-wrap .top-logo {
  padding-bottom: 50px;
}

.form-box {
  background-color: #121212;
  border-radius: 10px;
}

.black-box {
  padding: 30px;
}

.black-box .form-wrap {
  padding: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  display: none;
}
.black-box .form-wrap.signup-login {
  display: block;
}
.black-box .form-wrap .top-logo {
  padding-bottom: 50px;
}

.black-box .bottom-content {
  position: relative;
  padding-left: 100px;
  text-align: right;
  padding-top: 30px;
}

.black-box .bottom-content .nextvnroleplay-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 80px;
}

.black-box .bottom-content p a {
  display: inline-block;
}

.black-box .bottom-content p a img {
  max-width: 20px;
}

.black-box .bottom-content {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.black-box .bottom-content .red,
.black-box .bottom-content a {
  color: #eb2c7e;
  font-weight: 500;
}


.form-box .citybg {
  background: url(../img/city-bg.png) no-repeat scroll center center / cover;
  height: 100%;
}

.top-input-logo img {
  max-width: 220px;
}


.main-form form input {
  background-color: #1C1C1C;
  border: 0;
  color: #707070;
  font-size: 20px;
  width: 360px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.main-form form input::placeholder {
  color: #707070;
  font-size: 20px;
  text-align: center;
}

.main-form form button[type=submit],
.main-form form button[type=button] {
  background: #343434;
  color: #5E5E5E;
  font-size: 12px;
  font-weight: 500;
  border: 0;
  position: relative;
  margin-top: 10px;
}
.main-form form button[type=submit]:hover,
.main-form form button[type=button]:hover {
  background: linear-gradient(to right, #EB317D, #09A4DF);
  color: #fff;
}
.main-form form button[type=submit]:after,
.main-form form button[type=button]:after {
  position: absolute;
  left: -30px;
  top: 50%;
  content: " ";
  background: url('../img/arrow-left.png') no-repeat;
  width: 15px;
  height: 24px;
  transform: translateY(-50%);
}
.signup form input[type=date],
.signup form button[type=submit] { 
  display: none;
}